body, html {
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: row;
}

.left {
    display: flex;
    background-color: rgb(184, 115, 51);
    justify-content: center;
    height: 100vh;
    width: calc(100vw /3);
}

.odin {
    display: flex;
    justify-content: center;
    font-size: 5rem;
    align-items: center;
}

.image-container {
    position: relative;
    top: 140px;
    width: 100%;
    background-color: burlywood;
    display: flex;
    height: 125px;
    flex-direction: row;
    justify-content: center;
}

.image {
    height: 120px;
}
.right{
    display: flex;
    flex-direction: column;
    background-color: bisque;
    width: calc(2*(100vw /3));
}

.first {
    background-color: grey;
    width: 100%;
}

.intro {
    display: flex;
    align-items: last baseline;
    background-color: #ddcfbf;
    height: 320px;
}

.introDesc {
    font-size: 25px;
    padding-right: 480px;
    padding-left: 75px
}

.form {
    padding-left: 70px;
    padding-right: 30%;
    padding-top: 48px;
    padding-bottom: 30px;
}

.input-area {
    display: flex;
    flex-wrap: wrap;
}

.text-area {
    display: flex;
    flex-direction: column;
    width: 50%;
}
