html, body {
    margin: 0px;
}

.container {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.list-items, .display-items{
    background-color: gray;
    height: 100%;
}

.list-items {
    width: 30%;
}
.display-items {
    width: 70%;
}

.add-btn-container {
    background-color: rgb(73, 69, 69);
    display: flex;
    justify-content: start;
    gap: 10px;
    height: 50px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px;
    border-color: white;
    border-bottom-style: solid;
    margin-bottom: 5px;
}

.tasks-list {
    height: calc(100%);
}

.ToDo-List-container {
    height: calc(100% - 65px - 15px);
}

.name-container {
    height: 30px;
    width: 100%;
    padding: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.more-container {
    height: 30px;
    width: 40px;
    margin-right: 20px;
}

