#root {
  width: 100%;
  margin: 0 auto; 
  padding: 2rem;
  text-align: center;
}

.intro {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

.personalDetails {
  display: flex;
  flex-direction:column;
  gap: 50px;
  width: 100%;
}

.generalInfo {
  height: 250px;
  width: calc(100% - 70px);
  padding-left: 70px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 3px;
}

.desc {
  width: 400px;
  margin-top: 10px;
}

.Projects {
  display: flex;
  flex-direction: column;
  place-items: center;
}
